<!DOCTYPE html>
<html>
  <head>
    <title>CRUD de Clientes</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://bootswatch.com/5/cyborg/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <h1>Listagem de Clientes</h1>
      <p>Clientes já cadastrados no sistema.</p>
      <div class="alert alert-success" id="alertListagem">
          <strong>Successo!</strong> Cliente cadastrado com sucesso!
        </div>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr><td>Nome</td><td>Idade</td><td>UF</td><td>Ações</td></tr>
        </thead>
        <tbody>
          <% if(!results || results.length == 0) { %>
            <tr>
              <td colspan="4">Nenhum cliente cadastrado.</td>
            </tr>
            <% } else { 
              results.forEach(function(customer){ %>
              <tr>
                <td><%= customer.nome %></td>
                <td><%= customer.idade %></td>
                <td><%= customer.uf %></td>
                <td>
                  <a href="/edit/<%= customer.id %>" class="btn btn-info">edit</a>
                  <a href="/delete/<%= customer.id %>" class="btn btn-danger" onclick="return confirm('Tem certeza?');">x</a>
                </td>
              </tr>
              <% }) 
          }%>
        </tbody>
      </table>
      <a href="/new" class="btn btn-primary">Cadastrar Novo</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="/js/scripts-index.js"></script>
  </body>
</html>